body{
    font-family: Arial;
    margin: 0;
    background: #f0f7f0;
    color: #1b1b1b;
}

header{
    background: #2e7d32;
    color: white;
    text-align: center;
    padding: 40px 20px;
}

section{
    padding: 20px;
    max-width: 600px;
    margin: auto;
}

input{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}

button{
    padding: 10px;
    border: none;
    background: #2e7d32;
    color: white;
    cursor: pointer;
    width: 100%;
}

button:hover{
    background: #1b5e20;
}

footer{
    text-align: center;
    padding: 20px;
    margin-top: 30px;
    background: #ddd;
}