body{
    margin:0;
    font-family:Arial, sans-serif;
    background:#f3f7f3;
    color:#1b1b1b;
}

header{
    background:#2e7d32;
    color:white;
    text-align:center;
    padding:60px 20px;
}

nav{
    background:#1b5e20;
    text-align:center;
    padding:12px;
    position:sticky;
    top:0;
}

nav a{
    color:white;
    text-decoration:none;
    margin:10px;
    font-weight:bold;
}

section{
    max-width:850px;
    margin:20px auto;
    background:white;
    padding:25px;
    border-radius:10px;
    box-shadow:0 2px 10px rgba(0,0,0,0.08);
}

h2{
    color:#2e7d32;
}

ul{
    line-height:1.8;
}

footer{
    text-align:center;
    padding:20px;
    margin-top:30px;
    background:#ddd;
}

footer p{
    margin:5px 0;
}